*{
    box-sizing: border-box;
}

.heading{
    color: blueviolet;
    font-size: 28px;
    text-align: center;
    margin: 6px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(211, 169, 147);
}

.column{
    color: rgb(216 216 204);
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
    margin: 10px;
    background-color: chocolate;
    border-color: black;
    /* padding: 0px; */
    position: relative;
}

.h3{
    box-sizing: content-box;
    background-color: beige;
    border-style: hidden;
    width: min-content;
    margin-top: -23px;
    margin-inline-start: auto;
}


@media(min-width : 992px){
    .column{
        flex : 30%;
        flex-direction: horizontal;
    }
}

@media(min-width : 768px) and (max-width : 991px){
    .column{
        flex : 46%;
        flex-direction: horizontal;
    }
    #third{
        flex: 100%;
    }
}

@media (max-width : 767px){
    .column{
        flex: 100%;
        flex-direction: horizontal;
    }
    #third{
        flex : 100%;
    }
}